.product-card {
  padding: 16px;
  width: 280px;

  img {
    width: 248px;
    height: 186px;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  h6, p {
    margin: 0;
    padding: 0 2px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 14px;
  }
}
