<div *ngIf="!isLogged" class="header-container">
  <div class="login-nav d-flex justify-content-end">
    <a class="text-secondary text-decoration-none" [routerLink]="'login/register'">
      Înregistrare
    </a>
    <a class="text-secondary text-decoration-none" [routerLink]="'login/authenticate'">
      Autentificare
    </a>
  </div>
</div>
<div *ngIf="isLogged" class="header-container">
  <div class="login-nav d-flex justify-content-end">
    <a class="text-secondary text-decoration-none" [routerLink]="'personal/cabinet'">
      <i class="bi bi-person-video3"></i>
      Cabinetul personal
    </a>
    <a class="text-secondary text-decoration-none">
      <i class="bi bi-box-arrow-left"></i>
      Ieșire
    </a>
  </div>
</div>
