<div *ngIf="!isLogged" class="header-container">
  <div class="login-nav d-flex justify-content-end">
    <a class="text-secondary text-decoration-none" [routerLink]="'login/register'">
      Înregistrare
    </a>
    <a class="text-secondary text-decoration-none" [routerLink]="'login/authenticate'">
      Autentificare
    </a>
  </div>
</div>
<div *ngIf="isLogged" class="header-container">
  <div class="login-nav d-flex justify-content-end">
    <a class="text-secondary text-decoration-none" [routerLink]="'personal/cabinet'">
      <i class="bi bi-person-video3"></i>
      Cabinetul personal
    </a>
    <a class="text-secondary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-box-arrow-left"></i>
      Ieșire
    </a>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sunteți sigur că doriți sa ieșiți din contul dumneavoastră ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ramâi pe pagină</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="logout()">Ieșire</button>
      </div>
    </div>
  </div>
</div>
