<div class="product-card bg-light rounded-1 shadow-sm">
  <div class="d-flex flex-row gap-4  justify-content-between">
    <div class="d-flex flex-row gap-4 align-items-center" (click)="goToProductPage()">
      <img *ngIf="imageObject?.image" [src]="imageObject?.image"/>
      <img *ngIf="!imageObject?.image" src="../../../../assets/images/no-image.png"/>
      <div class="d-flex flex-column">
        <h6>{{product?.name}}</h6>
        <p>{{product?.price + ' ' + product?.currency}}</p>
      </div>
    </div>
  </div>
  <p class="description text-secondary">{{product.description}}</p>
  <div class="actions d-flex flex-row justify-content-between">
    <i class="bi bi-pencil-square" (click)="goToProductForm()"></i>
    <i class="bi bi-trash" (click)="deleteAction()"></i>
  </div>
</div>
