.carousel {
  .carousel-control-prev, .carousel-control-next {
    width: 8%;
    align-items: center;
    margin-bottom: 70px;
  }

  .carousel-control-next {
    right: -64px;
  }

  .carousel-control-prev {
    left: -64px;
  }
}
