<nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-light embed-responsive-16by9">
  <div class="inline-block nav-list-container">
    <a class="navbar-brand" href="#">MarketPlace</a>

    <div class="navbar-collapse inline-block" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <span class="navbar-toggler-icon"></span>
          <a class="nav-link"
             href="#"
             id="navbarDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Categorii
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          </div>
        </li>
      </ul>
      <form class="form-inline inline-block my-2 my-lg-0">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Adaugă anunț</button>
      </form>
    </div>
  </div>
</nav>

<login-tile></login-tile>

<router-outlet></router-outlet>

<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>INFO
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            SUPPORT
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            MARKET
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">PROMO</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold">Marketplace</a>
  </div>
</footer>
