<div class="page-container">
  <div class="swiper-container">
  </div>
  <span class="title-header">
    <h2>{{groupName}}</h2>
    <p class="link-primary" [routerLink]="'../../dashboard'">
      <i class="bi bi-arrow-up-left-circle"></i>
      Dashboard
    </p>
  </span>
  <div class="categories-container">
    <div *ngFor="let category of categoryList" class="category-box">
      <h5>{{category?.name}}</h5>
      <div *ngFor="let subcategory of category?.subCategoryList">
        <p class="link-secondary">{{subcategory?.name}}</p>
      </div>
    </div>
  </div>
</div>
