<div class="page-container">
  <span class="title-header">
    <h2>Cabinetul personal <i class="bi bi-person-video3"></i></h2>
    <p class="text-secondary">Aici puteți găsi produsele adăugate de dumneavoastră și cele adăugate în favorite.</p>
  </span>
  <div class="content">
    <h4>Anunțurile dumneavoastră.</h4>
    <div *ngIf="productData.length === 0" class="no-products">
      <h6 class="text-secondary">
        <i class="bi bi-x-octagon"></i>
        Nu aveți nici un produs adăugat, puteți corecta asta apasând pe linkul
        <a class="link-primary text-decoration-none" [routerLink]="'../../products/add-category-list'">adaugă anunț</a>.
      </h6>
    </div>
    <div *ngIf="productData.length > 0" class="d-flex flex-column gap-2">
      <ng-container *ngFor="let product of productData">
        <action-card [product]="product"></action-card>
      </ng-container>
    </div>
    <h4>Anunțurile favorite.</h4>
    <div class="no-products">
      <h6 class="text-secondary">
        <i class="bi bi-x-octagon"></i>
        Nu aveți nici un produs favorit.
      </h6>
    </div>
  </div>
</div>
