<div class="page-container">
  <form class="bg-light shadow-sm" [formGroup]="formGroup">
    <h3 class="text-dark">Înregistrare</h3>

    <div class="form-outline mb-4">
      <label class="form-label" for="email">Adresă email</label>
      <input formControlName="email" type="email" id="email" class="form-control"/>
    </div>

    <div class="d-flex gap-4">
      <div class="form-outline mb-4">
        <label class="form-label" for="name">Nume</label>
        <input formControlName="name" type="email" id="name" class="form-control"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="surname">Prenume</label>
        <input formControlName="surname" type="email" id="surname" class="form-control"/>
      </div>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="number">Număr de telefon</label>
      <input formControlName="phoneNumber" type="tel" id="number" class="form-control"/>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="password">Parola</label>
      <input formControlName="password" type="password" id="password" class="form-control"/>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="repeat-password">Repetă parola</label>
      <input formControlName="repeatPassword" type="password" id="repeat-password" class="form-control"/>
    </div>

    <button type="button"
            class="btn btn-primary btn-block mb-4 shadow-sm"
            [disabled]="formGroup.invalid"
            (click)="registerNewUser()">
      Înregistrează-te
    </button>
  </form>
</div>
