<div class="ui modal"
     [ngClass]="{
      'loading-popup': !loadingData?.title && !loadingData?.message,
      'alert-popup': loadingData?.title || loadingData?.message
     }"
     #loadingModal>

  <div class="header" *ngIf="loadingData?.title">
    <span>
    </span>
  </div>

  <div class="content" *ngIf="loadingData?.message">
    <p></p>
  </div>

  <div class="actions" *ngIf="loadingData?.message"></div>

  <div class="content" *ngIf="loadingData && !loadingData?.title && !loadingData?.message">
    <loader-block [size]="'big'"></loader-block>
  </div>

</div>
